<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="p-5 bg-primary text-white text-center">
        <h1>Get Tips for Living Healthier</h1>
    </div>
	<div class="accordion" id="accordion0">
	  <div class="accordion-item">
		<h2 class="accordion-header" id="heading0">
		  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
			<strong class="text-secondary">We offer advice in a wide variety of topics. Click to see the categories.</strong>
		  </button>
		</h2>
		<div id="collapse0" class="accordion-collapse collapse" aria-labelledby="heading0" data-bs-parent="#accordion0">
		  <div class="accordion-body">
			{% for category in advice_categories %}
				<strong class="text-secondary">∙ {{category}}<br></strong>
			{% endfor %}
		  </div>
		</div>
	  </div>
	</div>
</body>
</html>