{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>User Create</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
        <div style="background-color:#FF8D6E; !important" class="jumbotron text-center bg-primary">
            <h1> User Portal </h1>
            <p>
				Welcome!
            </p>
        </div>
	</div>
	<div class="container">
		{% if action_success %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Successful</h4>
                <p>User is added successfully.</p>
            </div>
        {% endif %}
		{% if action_fail %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Failed</h4>
                <p>Username or e-mail address is not valid.</p>
            </div>
        {% endif %}
		<div class="container-fluid">
			<div class="center">
				<form class="form-group" method="POST" novalidate action="{% url 'user:user-create-worker' %}">
					{{form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"class="btn btn-success">Add</button>
				</form>
			</div>
		</div>
	</div>
	<a href="{%url 'user:user-home' %}"> <p style="text-align:center">Back to Home Page</p></a>
</body>
</html>
