<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<style type="text/css">
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
			}
		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
			}
		tr:nth-child(even) {
			background-color: #dddddd;
			}

	</style>
</head>
<body>
	<div class="wrapper">
        <div style="background-color:#FF8D6E; !important" class="jumbotron text-center bg-primary">
            <h1> User Portal </h1>
            <p>
				Welcome!
            </p>
        </div>
	</div>
	<div class="container">
		<div class="container-fluid">
            <div class="container">
                <table class="center">
                   <colgroup>
						<col span="1" style="width: 10%;">
						<col span="1" style="width: 30%;">
						<col span="1" style="width: 30%;">
						<col span="1" style="width: 30%;">
						<col span="1" style="width: 30%;">
                	</colgroup>
                    <tr>
						<th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>E-mail</th>
						<th>Horoscope</th>
                    </tr>
                    {% for row in results %}
                    <tr>
                        {% for value in row %}
                        <td>
                            {{value}}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </table>
                </div>
			</div>
		</div>
	</div>
    <a href="{%url 'user:user-home' %}"> <p style="text-align:center">Back to Home Page</p></a>
</body>
</html>
