<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form {
            margin: 0 auto;
            width:250px;
        }
    </style>
</head>
<body>
 <div style="background-color:plum; !important" class="jumbotron text-center bg-primary">
            <h2> Sorry.</h2>
    </div>

   <h3 style="text-align:center">Post ID is invalid.</h3>
<a href="indexHome"> <p style="text-align:center; margin-top: 300px">Go to Previous Page</p></a>

</body>
</html>