.mypost {
  background: white;
  width: 98%;
  margin: auto;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 5px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.upvote {
  font-size: x-large;
}
.upvote:hover {
  color: rgb(153, 185, 231);
}

.upvoteactive {
  font-size: x-large;
  color: rgb(104, 158, 233);
}
.upvoteactive:hover {
  color: rgb(153, 185, 231);
}

.downvoteactive {
  font-size: x-large;
  color: rgb(240, 96, 96);
}

.downvoteactive:hover {
  color: rgb(231, 153, 153);
}

.downvote {
  font-size: x-large;
}
.downvote:hover {
  color: rgb(231, 153, 153);
}

.container {
  width: 100%;
  background: red;
}
.mypost:hover {
  border: 1px solid rgb(132, 130, 130);
}
.mybutton {
  padding: 0.6rem;
  width: 7rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  right: 125px;
  border-radius: 5px;
  overflow: hidden;
}

.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
body {
  text-align: center;
}

p {
  padding: 5px;
  margin: 5px;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(130, 127, 127);
}

.dropbtn {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;

  color: rgb(28, 27, 27);
  padding: 11px 16px;
  font-size: 16px;
  margin-left: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.dropdowncontent {
  display: none;
  margin-left: 50px;
  border-radius: 5px;

  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent p {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  margin: 0%;
}

.dropdowncontent p:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #afafaf;
}

.createpost {
  width: 100%;
  margin: auto;
  background: rgb(78, 78, 209);
  margin-top: 20px;
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
  font-size: larger;
}
.filter:hover {
  filter: brightness(0.8);
}
.filter:active {
  filter: brightness(1.2);
}

.createpost:hover {
  filter: brightness(0.8);
}
.createpost:active {
  filter: brightness(1.2);
}

.BsSearch:hover {
  background: #f1f1f1;
}
.BsSearch:active {
  filter: brightness(1.1);
}
