.mypost{
    background: white;
    width: 98%;
    margin: auto;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 5px;
    border: 1px solid lightgray;
    overflow: hidden;

}

.mypost:hover{
    
    border: 1px solid rgb(132, 130, 130);

}
.mybutton {
    padding: .6rem;
    width: 7rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
    position: absolute ; 
    top: 20px;
     right: 125px  

}

.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  body{text-align: center;}

  p{padding: 5px;
margin: 5px;}

