asgiref==3.4.1
Django==3.2.3
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.4
cryptography==37.0.1
django-crispy-forms==1.14.0
djangorestframework==3.13.1
idna==3.3
pip==21.2.4
psycopg2==2.8.6
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
pytz==2021.3
requests==2.27.1
setuptools==61.2.0
sqlparse==0.4.1
typing_extensions==4.1.1
urllib3==1.26.9
wheel==0.37.1
