<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
    </div>
    <form id="index" class="form-group" method="POST" action="{% url 'index' %}">
        {%csrf_token%}
        <br>
        <label>Add User Location: </label>
        <br>
        <label>Username: </label>
        <input type="text" name="username" placeholder="username" style="width:170px" required>
        <br>
        <label>Country: </label>
        <select id="country" name="country" style="overflow:hidden; width:175px">
        </select>
        <br>
        <label>State: </label>
        <select id="state" name="state" style="overflow:hidden; width:175px">
        </select>
        <br>
        <label>City: </label>
        <select id="city" name="city" style="overflow:hidden; width:175px">
        </select>
        <br>
        <input type="submit" name="submit" value="Add">
        <br>
    </form>
    <form id="index" class="form-group" method="Get" action="{% url 'user' %}">
        <br>
        <label>Get User Location: </label>
        <br>
        <label>Username: </label>
        <input type="text" name="username" placeholder="username" style="width:170px" required>
        <br>
        <input type="submit" name="submit" value="Get">
        <br>
    </form>
    <form id="index" class="form-group" method="Get" action="{% url 'near' %}">
        <br>
        <label>Get Users Near Location: </label>
        <br>
        <label>Country: </label>
        <select id="country_get" name="country" style="overflow:hidden; width:175px">
        </select>
        <br>
        <label>State: </label>
        <select id="state_get" name="state" style="overflow:hidden; width:175px">
        </select>
        <br>
        <label>City: </label>
        <select id="city_get" name="city" style="overflow:hidden; width:175px">
        </select>
        <br>
        <input type="submit" name="submit" value="Get">
        <br>
    </form>
    <script>
        function get_data(url){
            let xmlHttpReq = new XMLHttpRequest();
            xmlHttpReq.open("GET", url, false); 
            xmlHttpReq.send(null);
            return JSON.parse(xmlHttpReq.responseText);
        }
        function update_elements(element, str=""){
            let data = get_data(window.parent.location+"places"+str);
            data.forEach(item => {
                var opt = document.createElement('option');
                opt.value = item;
                opt.innerHTML = item;
                element.appendChild(opt);
            });
        }
        function search(element, str){
            let retval=false;
            Array.from(element).forEach(item =>{
                if(item.value===str){
                    retval=true;
                    return
                }
            });
            return retval;
        }
        function eventListener(str=""){
            let country = document.getElementById('country'+str);
            let state = document.getElementById('state'+str);
            let city = document.getElementById('city'+str);
            update_elements(country);
            tmp_value = country.options[country.selectedIndex].text;
            state.innerHTML = '<option value=\"-\"> --- </option>">';
            update_elements(state, "?country=" + tmp_value);
            city.innerHTML = '<option value=\"-\"> --- </option>">';
            country.addEventListener("change", ()=>{
                value = country.options[country.selectedIndex].text;
                state.innerHTML = '<option value=\"-\"> --- </option>">';
                city.innerHTML = '<option value=\"-\"> --- </option>">';
                if(value!=="-"){
                    update_elements(state, "?country=" + value);
                }
            });
            state.addEventListener("change", ()=>{
                value = state.options[state.selectedIndex].text;
                city.innerHTML = '<option value=\"-\"> --- </option>">';
                if(value!=="-"){
                    update_elements(city, "?state=" + value);
                }
            });
            let location = JSON.parse("{{ loc }}".replace(/&quot;/g,'"'));
            if(location.length != 0){  
                let changeEvent = new Event('change');
                if(search(country.options, location[0])){
                    country.value = location[0];
                    country.dispatchEvent(changeEvent);
                    if(search(state.options, location[1])){
                        state.value = location[1];
                        state.dispatchEvent(changeEvent);
                        if(search(city.options, location[2])){
                            city.value = location[2];
                        }
                    }
                }
            }
        }
        eventListener("");
        eventListener("_get");
    </script>
</body>
</html>
